<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">

        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🔥 Angular Trello</span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">🍱 Kanban</a>
        <a mat-button routerLink="/login"
           *ngIf="!(angularFireAuth.authState | async)">🔑 Login</a>
        <a mat-button *ngIf="angularFireAuth.authState | async as user"
                [matMenuTriggerFor]="menu">
          <img class="avatar" [src]="user.photoURL || 'assets/default-user.svg'">
          {{user?.displayName || 'Profile'}}
        </a>
      </div>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/profile"
         *ngIf="(angularFireAuth.authState | async)">
        <i>ℹ</i>
        <span>Profile</span>
      </a>
      <a mat-menu-item routerLink="/login"
         *ngIf="(angularFireAuth.authState | async)"
         (click)="angularFireAuth.signOut()">
        <i>🚪</i>
        <span>LogOut</span>
      </a>
    </mat-menu>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
